<%- include('./partials/head') %>
<h1>Report view</h1>

<a href="/report/edit/<%= report._id %>">Edit</a>

<div>
    <h2><%= report.title %></h2>
    <h3><%= report.status %></h3>
    <p><%- report.content.replace(/\r?\n/g, '<br>') %></p>
    <% for(tag of report.tags) { %>
        <h6><%= tag %></h6>
    <% } %>
    <% for(note of report.notes) { %>
        <p><%- note.replace(/\r?\n/g, '<br>') %></p>
    <% } %>
</div>
